:local(.usersContainer) {
  position: relative;
  background: rgba(255, 255, 255, 0.2);  
  border-radius: 12px; 
  padding: 20px;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px auto;
  margin-left: 20px;
  max-width: 1600px;
  align-content: center;
}

:local(.actionContainer) {
    display: flex;
    justify-content: right;
    gap: 20px;
  }

  :local(.row) {
  background-color: rgb(255, 255, 255);
  transition: background 0.3s ease;
}

:local(.row:hover) {
  background-color: #f8f9fa;
}

:local(.avatar) {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

:local(.avatar:hover) {
  transform: scale(1.1);
}

:local(.actionButtons) {
  display: flex;
  gap: 10px;
}

:local(.pagination) {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 20px;
}

